.home-banner {
  background: url("/static/images/home-hero.jpg") no-repeat;
  background-size: cover;
  background-position: center right;
}
.data-catalogue-banner {
  background: url("/static/images//banner/data-catalogue.jpg") no-repeat;
  background-size: cover;
  background-position: center right;
}
.labour-market-banner {
  background: url("/static/images/banner/labour-market.jpg") no-repeat;
  background-size: cover;
  background-position: center right;
}
.composite-index-banner {
  background: url("/static/images/banner/composite-index.jpg") no-repeat;
  background-size: cover;
  background-position: center right;
}
.wholesale-retail-banner {
  background: url("/static/images/banner/wholesale-retail.jpg") no-repeat;
  background-size: cover;
  background-position: center right;
}
.industrial-production-banner {
  background: url("/static/images/banner/industrial-production.jpg") no-repeat;
  background-size: cover;
  background-position: center right;
}
.currency-in-circulation-banner {
  background: url("/static/images/banner/currency-in-circulation.jpg") no-repeat;
  background-size: cover;
}
.pdrm-banner {
  background: url("/static/images/banner/pdrm-banner.jpg") no-repeat;
  background-size: cover;
  background-position: center right;
}
